@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

section {
  @apply px-10 my-20;
}

.container {
  @apply max-w-screen-xl mx-auto;
}

.heroTitle {
  @apply text-lg md:text-xl mb-4 text-primary   uppercase font-semibold moveInLeft;
  animation-delay: 1s;
}

.heroTagline {
  @apply moveInLeft;
  animation-delay: 1.2s;
}

.heroImage {
  @apply justify-self-center slide-down;
}
.slide-down {
  animation: slideDown 1s ease-in-out;
}
.menuSlideRight {
  animation: slideRight 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.slideLeft {
  animation: slideLeft 0.3s ease-out 1s;
  backface-visibility: hidden;
}
.moveInLeft {
  animation: moveInLeft 1s ease backwards;
}
.moveOutLeft {
  animation: moveOutLeft 0.3s ease forwards;
}
.moveInRight {
  animation: moveInRight 0.3s 0.3s ease backwards;
}
.animateCarousel {
  animation: moveCarousel 6s ease forwards;
}
.animateHeroSwitch {
  animation: switchHero 3s ease forwards;
  @apply text-primary;
}
.scaleCarousel {
  animation: growCarousel 6s ease forwards;
}
.anti-rotate90 {
  animation: antiRotate90 0.4s ease-in-out;
}
.rotate90 {
  animation: rotate90 0.4s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100px);
    display: none;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveCarousel {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  15% {
    opacity: 1;
    transform: translateX(0);
  }

  85% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes growCarousel {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.5);
  }
  85% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes switchHero {
  0% {
    width: 1%;
    z-index: -1;
  }
  15% {
    width: 100%;
    z-index: 0;
  }
  85% {
    width: 100%;
    z-index: 0;
  }
  100% {
    width: 1%;
    z-index: -1;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotate90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes antiRotate90 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
